@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&family=Ysabeau+Office:wght@300&display=swap");

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.navbar a {
    text-decoration: none;
    color: black;
    margin: 20px 15px;
    font-size: 20px;
}

.navbar a:hover {
    color: #b0bcae;
}

hr {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-bottom: 5%;
    margin-top: 5%;
}

#information p {
    font-size: 18px;
}

#information h3 {
    font-size: 20px;
    margin-bottom: 20px;
    text-transform: capitalize;
    font-weight: bold;
}

.txt__link {
    color: black;
    text-decoration: underline;
}

.order,
.career {
    border: 2px solid black;
    text-decoration: none;
    font-family: "Times New Roman", Times, serif;
    color: black;
}

.order:hover {
    color: white;
    background: black;
}

.career:hover {
    color: white;
    background: black;
}

.save__planet {
    margin-top: 2%;
}

.save__planet__logo {
    display: flex;
    justify-content: center;
    margin-bottom: 2%;
}

.save__planet__content {
    text-align: center;
}

.details__container {
    display: flex;
    justify-content: space-around;
    margin-top: 5%;
}

.details {
    margin-left: 5%;
    width: 25%;
}

.details__heading {
    text-align: center;
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 7px;
}

.details__content {
    margin-top: 7%;
    text-align: center;
}

.images {
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: center;
}

.img1 {
    height: 500px;
    width: 700px;
    padding: 2rem;
}

.img2 {
    height: 700px;
    width: 500px;
    padding: 2rem;
}

.slogan1 {
    padding: 3% 26%;
}

.slogancontent {
    text-align: justify;
    width: 82%;
    margin-top: 10%;
}

.img3 {
    width: 100%;
    height: 900px;
    margin-top: 2%;
}

.map__location {
    width: 100%;
    margin-top: 7%;
    margin-bottom: 3%;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.address1 {
    text-align: center;
}

.address1__location {
    font-size: 20px;
    font-family: "Times New Roman", Times, serif;
    letter-spacing: 7px;
}

.address1__content {
    margin-top: 3%;
    text-align: center;
    font-size: 16px;
}

.map {
    display: flex;
    justify-content: center;
    margin: 2%;
}

.mapdemo {
    border: none;
    filter: grayscale(100%);
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;

    margin-bottom: 2rem;
    margin-top: 6rem;
}

.footer h3 {
    letter-spacing: 5px;
}

.social {
    display: flex;
    justify-content: center;
    align-items: center;
}

.social a {
    color: black;
    text-decoration: none;
}

.icons {
    margin-left: 2rem;
}

.scroll_top {
    display: flex;
    justify-content: end;
}

.scroll_top a {
    margin-right: 3rem;
    margin-bottom: 5rem;
    color: black;
}
